# ===================================================================
# tpRigToolkit-libs-cookiecutter requirements file
# ===================================================================
cookiecutter