# ===================================================================
# tpRigToolkit-libs-{{cookiecutter.lib_name}} requirements file
# ===================================================================
tpRigToolkit-core